body {
    font-family: "Open Sans", sans-serif;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}